body
{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #54BAB9;
}
h1{
  width: 30%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
 font-size: 5.625rem;

}
p{
  color: #4B5D67;

}
h2{
font-family: 'Montez', cursive;
font-size: 50px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #A0D995;
}
.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}
.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud
{
position: absolute;
left: 300px;
bottom: 300px;

}


.bottom-container
{
background-color: #66BFBF;
margin: 50px auto;
}
.pro
{
  text-decoration: underline;
}
.profile-pic
{
  width: 25%;
}
.skill-row
{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}
.skill-pic
{
  float: left;
  width: 25%;
  margin-right: 30px;

}
.chilly-pic
{
  float: right;
  width: 25%;
  margin-right: 30px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.btn {
  background: #19c6e8;
  background-image: -webkit-linear-gradient(top, #19c6e8, #2980b9);
  background-image: -moz-linear-gradient(top, #19c6e8, #2980b9);
  background-image: -ms-linear-gradient(top, #19c6e8, #2980b9);
  background-image: -o-linear-gradient(top, #19c6e8, #2980b9);
  background-image: linear-gradient(to bottom, #19c6e8, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #0ce6af;
  font-family: Arial;
  color: #2ee8cc;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #faf5f5;
  background-image: -webkit-linear-gradient(top, #faf5f5, #dcdee0);
  background-image: -moz-linear-gradient(top, #faf5f5, #dcdee0);
  background-image: -ms-linear-gradient(top, #faf5f5, #dcdee0);
  background-image: -o-linear-gradient(top, #faf5f5, #dcdee0);
  background-image: linear-gradient(to bottom, #faf5f5, #dcdee0);
  text-decoration: none;

}
